<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <div class="content">
    <% for(let i = 0; i < todos.length; i++) { %>
    <div class="card">
        <a href="/todos/<%= i %>"><h2><%= todos[i].title %></h2></a>
        <p><%= todos[i].description %></p>
        <h3><%= todos[i].isComplete ? "Completed" : "Not Complete"%></h3>
    </div>
    <% } %>
    </div>
</body>
</html>