<!DOCTYPE html>
<html lang="en">
  <body>
    <form action="/todos" method="post" class="field">
      <h1>Create a new Todo</h1>
      <label>Title:</label>
      <input
        type="text"
        name="title"
        placeholder="title"
        class="text"
        required
      />

      <br />
      <label>Description:</label>
      <input
        type="text"
        name="description"
        placeholder="Add a description"
        class="text"
        required
      />
      <br />
      <label
        >Complete?
        <input type="checkbox" name="isComplete" class="checkbox" />
      </label>
      <br />
      <button class="new but-style" onclick="addModal.close()">
        Create New Todo
      </button>
    </form>
  </body>
</html>
