<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <main class="user-page">
      <div>
        <form action="/user/login" method="post" class="user-form">
          
            <h1>Please Login To Continue</h1>
            <label class="user-name"
              >USERNAME: <input type="text" name="username" class="text" required />
            </label>
            <label class="user-pass"
              >PASSWORD: <input type="password" name="password" class="text" />
            </label>
            <button class="but-style log">Submit</button>
          
        </form>
      </div>
    </main>
  </body>
</html>